<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FinnalHomework</display-name>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>homework.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Select</servlet-name>
    <servlet-class>homework.Select</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/Select</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delet</servlet-name>
    <servlet-class>homework.Delet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delet</servlet-name>
    <url-pattern>/Delet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>homework.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddInformation</servlet-name>
    <servlet-class>homework.AddInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInformation</servlet-name>
    <url-pattern>/AddInformation</url-pattern>
  </servlet-mapping>
  <welcome-file-list>

    <welcome-file>login.jsp</welcome-file>

  </welcome-file-list>
</web-app>